@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Contoso Crafts</h1>
    <p>Setting up CI/CD in MS Azure.</p>
</div>

<div class="card-columns">
    @foreach (var product in Model.Products)
    {
    <div class="card">
        <div class="card-img" style="background-image: url('@product.Image');"></div>
        <div class="card-body">
            <h4 class="card-title">@product.Title</h4>
        </div>
    </div>
    }
</div>
